<div>
  <div>
    <span>Most popular language:</span>
    <span><%= top_language.language %></span>
  </div>
  <div>
    <span>Remaining API queries:</span>
    <span><%= top_language.remaining_queries %></span>
  </div>
</div>